<h1>About Us</h1>
<p>Jack's Bikes is a full service bike shop located in Buffalo, NY. We are dedicated to serving our customers with a wide variety of inventory to accomodate any need you may have</p>


