
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
       <%= image_tag("sampleT", :alt => "rss feed") %>
    </div>

    <div class="item">
      <%= image_tag("urban", :alt => "rss feed") %>
    </div>

    <div class="item">
       <%= image_tag("sampleT", :alt => "rss feed") %>
    </div>

    <div class="item">
       <%= image_tag("sampleT", :alt => "rss feed") %>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<h2>Featured Products</h2>
<p>A colection of popular products from our most talented designers</p>
<div class="thumbnail-grid flex">
  <a href="#">
    <figure class="i1">
      <figcaption>Item 1</figcaption>
    </figure>
  </a>
  <a href="#" class="flex-item">
    <figure class="i2">
      <figcaption>Item 2</figcaption>
    </figure>
  </a>
  <a href="#" class="flex-item">
    <figure class="i3">
      <figcaption>Item 3</figcaption>
    </figure>
  </a>
</div>

