// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	
	margin: 0;
}

html, body {
	height: 100%;
}

.panel-body {
	height: 80vh;
}

.content {
	height: 100vh;
	background-image: url("urban.jpg");
	background-size: cover;
}

.content h1 {
	padding: 30% 10% 0;
	margin-top: 0;
	text-align: left;
	font-family: 'PT sans';
	color: white;
}

.content h2 {
	text-align: left;
	font-family: 'Pt Serif';
	color: white;
	padding-left: 10%;
	font-weight: light;
}



#wrap {
	min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

footer .content {
	height: 4em;
}



p {
	margin-bottom: 50px;

}

h4 {
	text-align: center;
	margin-bottom: 20px;
}

.center-pills {
display: inline-block
}

ul {
	margin-bottom: 50px !important;
}

footer {
	background-color: black;
}

footer p {
	color: white;
}

.foot {
	padding: 40px 0 0 0;
}



/* Contact Page */


.contact_form {
	padding: 5%;
	height: 60vh;
}

.contact_button {
	background-color: #336699;
	padding: 1% 3%;
	color: white;
	border-radius: 3px;
}

.contact_title {
	margin-top: 55px !important;
}







